<#import "/lib/global.ftl" as g />
<@pp.dropOutputFile />
<#list doc.database.table as t>
<#assign tname=t.@name?lower_case />
<#assign model=g.getModel(tname) />
<#if model?has_content>
<#assign filename="/webapp/pages/${model}/index.html" />
<#if pp.outputFileExists(filename)>
<#assign filename="/tmp/webapp/pages/${model}/index.html" />
</#if>
<@pp.changeOutputFile name=filename />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link type="text/css" media="all" rel="stylesheet" href="../../styles/default/basic.css" />
<link type="text/css" media="all" rel="stylesheet" href="../../styles/default/list.css" />

<script type="text/javascript" src="../../scripts/jquery.js?v=1.2.3"></script>
<script type="text/javascript" src="../../scripts/toolkit.js?v=1.0.0"></script>
<script type="text/javascript" src="../../scripts/global.js?v=1.0.0"></script>

</head>
<body>
<textarea id="main_jst" style="display:none;">
<div class="toolbar">
	<a href="${'$'}{JPT.ctx.base}/pages/${model}/new.html"><img src="${'$'}{JPT.ctx.base}/styles/default/images/ico-add-1.gif" />${'$'}{JPT.ctx.lang['op.new']}</a>
	<a href="${'$'}{JPT.ctx.base}/pages/${model}/delete.html" class="jpt-ajax"><img src="${'$'}{JPT.ctx.base}/styles/default/images/ico-remove-1.gif" />${'$'}{JPT.ctx.lang['op.delete']}</a>
</div>
<form name="listForm" id="listForm" method="post" action="${'$'}{JPT.ctx.base}/pages/${model}/index.html" class="jpt-list-form">
	<div>
		<input type="hidden" name="pager.offset" id="offset" value="${'$'}{pager.offset}" />
		<input type="hidden" name="pager.limit" id="limit" value="${'$'}{pager.limit}" />
		<input type="hidden" id="totalRows" value="${'$'}{pager.totalRows}" />
	</div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="jpt-list-table">
		<thead>
			<tr>
				<th class="jpt-list-seq">#</th>
				<th class="jpt-list-chk"><input type="checkbox" id="chkAll" /></th>
				<th>ID</th>
				<th class="op">${'$'}{JPT.ctx.lang['op.header']}</th>
			</tr>
		</thead>
		<tbody>
{for ${model} in ${model}s}
			<tr>
				<td class="jpt-list-seq">${'$'}{parseInt(${model}_index) + parseInt(pager.offset||1)}</td>
				<td class="jpt-list-chk"><input type="checkbox" name="model.chkIDs" value="${'$'}{${model}.id}" /></td>
				<td>${'$'}{${model}.id|default:"&nbsp;"}</td>
				<td class="op">
					<a href="${'$'}{JPT.ctx.base}/pages/${model}/edit/${'$'}{${model}.id}.html" class="jpt-ajax"><img src="${'$'}{JPT.ctx.base}/styles/default/images/ico-edit-1.gif" />${'$'}{JPT.ctx.lang['op.edit']}</a>
					<a href="${'$'}{JPT.ctx.base}/pages/${model}/destroy/${'$'}{${model}.id}.html" class="jpt-ajax"><img src="${'$'}{JPT.ctx.base}/styles/default/images/ico-remove-2.gif" />${'$'}{JPT.ctx.lang['op.destroy']}</a>
				</td>
			</tr>
{/for}		
		</tbody>
		<tfoot>
			<tr><td colspan="4"><div class="jpt-pager">${'$'}{getPagerHTML(pager)}</div></td></tr>
		</tfoot>	
	</table>
</form>
</textarea>
<div id="main"></div>
</body>
</html>
</#if>
</#list>